@model IEnumerable<Catalogo_Pecas.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Nosso Catálogo de Produtos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Incluir Produto</a>
</p>

<table id="myTable2" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrição)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preço)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrição)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preço)
            </td>

            <td class="row">
                <a asp-action="Edit" class="btn btn-success mr-1" asp-route-id="@item.Id">Editar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#myTable2').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        } );
    </script>
}
